nav {
display: flex;
justify-content: space-between;
padding: 1em;
border-bottom: 1px solid #f8e066;

background-color: #f4b41a
}

.brand, 
.links {
display: flex;
justify-content: center;
align-items: center;
}

.brand img {
width: 40px;
margin-right: 0.6em;
}

.brand h2 {
transition: 0.4s;
}

.brand:hover > h2 {
color: #143d59;
}

.links li {
margin-right: 1em;
list-style: none;
}

.links a{
    padding: 0.1em 0.3em;
}

a:hover {
  color: white;
}

#add a {
color: white;
}

#add a:hover {
background-color: #143d59;
border-radius: 20%;
}